@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,100&family=Sevillana&display=swap');
body{
    background: url(resim/background.png);
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    color: red;
    text-align: center;
    padding: 20px;
}
main{
    
    max-width: 720px;
    min-width: 360px;
    padding: 0 30px;
}

.box1{
    color: rgb(34, 31, 228);
    background-color: rgb(202, 190, 190);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin-bottom: 20px;
    
}

.box2{color: rgb(235, 61, 38);
    background-color: rgb(202, 190, 190);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 20px;
    text-align: center;

}
.box3{
    color: purple;
    background-color: rgb(182, 174, 174);
    border-radius: 25px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    font-family: 'Parisienne', 'cursive';
}