@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,100&family=Sevillana&display=swap');
*{
    margin: auto;
    position: relative;
    
}
.romantic{
    color: red;
    text-align: center;
    padding: 10px;
}
.resim{
    background: url(resim/background.png);
}

.box1{
    color: rgb(34, 31, 228);
    background-color: rgb(202, 190, 190);
    width: 80%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin-bottom: 20px;
}

.box2{color: rgb(235, 61, 38);
    background-color: rgb(202, 190, 190);
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

}
.box3{
    color: purple;
    background-color: rgb(182, 174, 174);
    border-radius: 25px;
    width: 80%;
    height: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    font-family: 'Parisienne', 'cursive';
}