@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@1,100&family=Sevillana&display=swap');
.romantic{
    color: red;
    text-align: center;
}
.resim{
    background: url(background.png);
    height: 100%;
    width: 80%;
    padding: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.a{
    color: rgb(34, 31, 228);
    background-color: rgb(202, 190, 190);
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin-left: 10%;
}

.b{color: rgb(235, 61, 38);
    background-color: rgb(202, 190, 190);
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    margin-left: 10%;
    padding: 2px;

}
.c{
    color: purple;
    background-color: rgb(182, 174, 174);
    border-radius: 25px;
    width: 80%;
    height: 40px;
    text-align:right;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10%;
    padding: 2px;
    font-family: 'Parisienne', cursive;;
}